:root {
    --dark: rgb(206, 254, 244);
    --darker: hsl(239, 76%, 75%);
    --darkest: rgb(104, 118, 239);
    --grey: hwb(0 4% 96%);
    --pink: rgb(238, 96, 71);
    --purple: rgba(95, 235, 20, 0.832);
    --light: #fcfcfc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira sans";
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #efeeee;
    background-color: lightgreen;
    border-radius: 10px;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    /* padding: 0; */
}

header h1 {
    font-size: 3.5rem;
    font-weight: 350;
    color: var(--grey);
    margin-bottom: 1rem;
}

#new-task-form {
    display: flex;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 120%;
    background-color:rgb(222, 222, 84);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.45rem;
}

#new-task-input::placeholder {
    color: var(--grey);
}

#new-task-submit {
    color: var(--pink);
    font-size: 1.45rem;
    font-weight: 800;
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

#new-task-submit:hover {
    opacity: 0.4;
}

#new-task-submit:active {
    opacity: 0.4;
}

main {
    flex: 115%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.task .content {
    flex: 115%;
}

.task .content .text {
    color: var(--light);
    font-size: 1.135rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}

.task .content .text:not(:read-only) {
    color: var(--pink);
}

.task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.135rem;
    font-weight: 800;
    text-transform: uppercase;
    transition: 0.4s;
}

.task .actions button:hover {
    opacity: 0.6;
}

.task .actions button:active {
    opacity: 0.4;
}

.task .actions .edit {
    background-image: linear-gradient(to right, var(--pink), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.task .actions .delete {
    color: hsla(119, 88%, 47%, 0.919);
}